openapi: 3.0.2
info:
  title: データ連携基盤 API
  description: データ連携基盤 API
  version: 0.3.0
servers:
  - url: 'https://api-b.stg.bts.ouranos-ecos.net/battery-traceability'
tags:
  - name: トレーサビリティ管理システム
paths:
  /cfpAcl:
    post:
      tags:
        - トレーサビリティ管理システム
      summary: 【CFP情報開示設定登録API】自社のCFP情報に対して、事業者別に開示設定を登録または更新する。
      operationId: registCfpAcl
      description: |
        [詳細説明]

        自社のCFP情報に対して、開示設定を登録または更新する。

        ※識別子の発行は同期処理のため即時発行となりますが、データ登録自体は非同期処理となるため、即時登録ではありません。

        ・要素の説明

        aclItemGroup: 開示設定登録する対象を識別する

        TOTALCFP → 合計CFP情報
        TOTALDQR → 合計DQR情報

        ※複数の開示設定を登録する場合は、同時に登録する必要があります。
      requestBody:
        description: 登録・更新するCFP情報開示設定
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - operatorId
                - releasedToOperatorId
                - traceId
                - acl
              properties:
                operatorId:
                  type: string
                  description: 実行者の事業者識別子（内部）
                  example: b1234567-1234-1234-1234-123456789012
                  maxLength: 36
                  format: uuid
                releasedToOperatorId:
                  description: 開示先事業者識別子（内部）
                  type: string
                  example: a1234567-1234-1234-1234-123456789012
                  maxLength: 36
                traceId:
                  description: トレース識別子
                  type: string
                  example: 2680ed32-19a3-435b-a094-23ff43aaa611
                  format: uuid
                  maxLength: 36
                acl:
                  type: array
                  description: 開示設定リスト
                  minItems: 1
                  maxItems: 50
                  items:
                    type: object
                    required:
                      - aclItemGroup
                      - releasedFlag
                    properties:
                      aclItemGroup:
                        type: string
                        description: |
                          開示項目グループ
                          * TOTALCFP : 合計CFP情報
                          * TOTALDQR : 合計DQR情報
                        example: TOTALCFP
                        enum:
                          - TOTALCFP
                          - TOTALDQR
                      releasedFlag:
                        type: boolean
                        description: |
                          開示フラグ
                          * true : 開示状態
                          * false: 非開示状態
            examples:
              cfpAnddqr:
                summary: 合計CFP、合計DQR情報開示設定登録
                value:
                  operatorId: a1234567-1234-1234-1234-123456789012
                  releasedToOperatorId: b1234567-1234-1234-1234-123456789012
                  traceId: 2680ed32-19a3-435b-a094-23ff43aaa611
                  acl:
                    - aclItemGroup: TOTALCFP
                      releasedFlag: true
                    - aclItemGroup: TOTALDQR
                      releasedFlag: true
      responses:
        '200':
          description: 登録・更新したCFP開示設定に紐づくトレース識別子
          headers:
            X-Track:
              description: REST API呼び出しでエラーなどが発生した時に問い合わせするための識別子
              schema:
                type: string
          content:
            application/json:
              schema:
                type: object
                properties:
                  traceId:
                    description: トレース識別子
                    type: string
                    example: 2680ed32-19a3-435b-a094-23ff43aaa611
                    format: uuid
                    maxLength: 36
        '400':
          description: HTTPステータスコードが2xx以外の場合、エラー内容詳細を表す
          headers:
            X-Track:
              description: REST API呼び出しでエラーなどが発生した時に問い合わせするための識別子
              schema:
                type: string
          content:
            application/json:
              schema:
                allOf:
                  - type: object
                    required:
                      - errors
                    properties:
                      errors:
                        type: array
                        minLength: 1
                        description: 1件以上のエラー詳細情報を表す
                        items:
                          type: object
                          description: エラー内容詳細
                          required:
                            - errorCode
                            - errorDescription
                          properties:
                            errorCode:
                              type: string
                            errorDescription:
                              type: string
              examples:
                MSGAECO0001:
                  summary: 必須エラー
                  description: |
                    * {0} : 項目名
                  value:
                    errors:
                      - errorCode: MSGAECO0001
                        errorDescription: '{0}は必須項目です。'
                MSGAECO0002:
                  summary: 文字数超過エラー
                  description: |
                    * {0} : 項目名
                    * {1} : 最大文字数
                  value:
                    errors:
                      - errorCode: MSGAECO0002
                        errorDescription: '{0}は{1}文字以内で送信してください。'
                MSGAECO0003:
                  summary: 形式エラー
                  description: |
                    * {0} : 項目名
                    * {1} : 形式
                  value:
                    errors:
                      - errorCode: MSGAECO0003
                        errorDescription: '{0}は{1}で入力してください。'
                MSGAECO0014:
                  summary: 不正値エラー
                  description: |
                    * {0} : 項目名
                      ※ 入力項目のEnumに空文字（""）を指定した場合も当エラーとなります。
                  value:
                    errors:
                      - errorCode: MSGAECO0014
                        errorDescription: '{0}の値は不正です。'
                MSGAECO0019:
                  summary: 最大数超過エラー
                  description: |
                    * {0} : 項目名
                    * {1} : 最大数
                  value:
                    errors:
                      - errorCode: MSGAECO0019
                        errorDescription: '{0}が最大数{1}を超えました。'
                MSGAECI0004:
                  summary: 事業者存在チェックエラー
                  value:
                    errors:
                      - errorCode: MSGAECI0004
                        errorDescription: リクエストパラメータの事業者識別子に、存在しない事業者が含まれています。
                MSGAECI0005:
                  summary: トレース識別子存在チェックエラー
                  value:
                    errors:
                      - errorCode: MSGAECI0005
                        errorDescription: リクエストパラメータのトレース識別子に、存在しない部品が含まれています。
                MSGAECI0025:
                  summary: 存在チェックエラー
                  value:
                    errors:
                      - errorCode: MSGAECI0025
                        errorDescription: リクエストパラメータの納品先事業者識別子、仕入先事業者識別子、仕入先トレース識別子に、存在しない取引関係があります。
                MSGAECI0028:
                  summary: 存在チェックエラー
                  value:
                    errors:
                      - errorCode: MSGAECI0028
                        errorDescription: 同一の開示グループ項目がリクエストパラメータに存在します。
                MSGAECO0025:
                  summary: 認証情報エラー
                  value:
                    errors:
                      - errorCode: MSGAECO0025
                        errorDescription: 認証情報と事業者識別子が一致しません。
        '500':
          description: 想定外のエラー
          headers:
            X-Track:
              description: REST API呼び出しでエラーなどが発生した時に問い合わせするための識別子
              schema:
                type: string
          content:
            application/json:
              schema:
                type: object
                properties:
                  errors:
                    type: array
                    items:
                      type: object
                      description: エラー内容詳細
                      required:
                        - errorCode
                        - errorDescription
                      properties:
                        errorCode:
                          type: string
                        errorDescription:
                          type: string
              examples:
                MSGAECO0013:
                  summary: システムエラー
                  value:
                    errors:
                      - errorCode: MSGAECO0013
                        errorDescription: システムエラーが発生しました。管理者にお問い合わせください。
      security:
        - Authorization: []
        - x-api-key: []
    get:
      tags:
        - トレーサビリティ管理システム
      summary: 【CFP情報開示設定取得API】CFP情報に対する開示設定を取得する。
      operationId: getCfpAcl
      description: |
        [Queryパラメータの指定]

        operatorId: (uuid) traceId: (uuid)

        [詳細説明]

        入力情報で指定した条件に該当する自社部品のCFP情報の開示設定を検索する。
        未設定のリクエストパラメータは検索条件に使用しない。

        CFP情報開示設定リストは開示先事業者識別子（内部）の昇順で応答する。
        検索条件を満たすCFP情報開示設定が0件の場合は、空のCFP情報開示設定リストを正常応答する。

        ・要素の説明

        aclItemGroup: 開示設定した対象を識別

        TOTALCFP → 合計CFP情報
        TOTALDQR → 合計DQR情報
      parameters:
        - name: operatorId
          in: query
          description: 実行者の事業者識別子（内部）
          required: true
          schema:
            type: string
            format: uuid
            example: b1234567-1234-1234-1234-123456789012
        - name: traceId
          in: query
          description: 検索対象のトレース識別子
          required: true
          schema:
            type: string
            example: 2680ed32-19a3-435b-a094-23ff43aaa611
      responses:
        '200':
          description: CFP情報の開示設定リスト
          headers:
            X-Track:
              description: REST API呼び出しでエラーなどが発生した時に問い合わせするための識別子
              schema:
                type: string
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
                  properties:
                    releasedFromOperatorId:
                      description: 開示元事業者識別子（内部）
                      type: string
                      example: b1234567-1234-1234-1234-123456789012
                      maxLength: 36
                    releasedToOperatorId:
                      description: 開示先事業者識別子（内部）
                      type: string
                      example: a1234567-1234-1234-1234-123456789012
                      maxLength: 36
                    traceId:
                      description: トレース識別子
                      type: string
                      example: 2680ed32-19a3-435b-a094-23ff43aaa611
                      format: uuid
                      maxLength: 36
                    acl:
                      type: array
                      items:
                        type: object
                        properties:
                          aclItemGroup:
                            type: string
                            description: |
                              開示項目グループ
                              * TOTALCFP : 合計CFP情報
                              * TOTALDQR : 合計DQR情報
                            example: TOTALCFP
                            enum:
                              - TOTALCFP
                              - TOTALDQR
                          releasedFlag:
                            type: boolean
                            description: |
                              開示フラグ
                              * true : 開示状態
                              * false: 非開示状態
              examples:
                full:
                  summary: 全項目応答
                  value:
                    - releasedFromOperatorId: b1234567-1234-1234-1234-123456789012
                      releasedToOperatorId: a1234567-1234-1234-1234-123456789012
                      traceId: 2680ed32-19a3-435b-a094-23ff43aaa611
                      acl:
                        - aclItemGroup: TOTALCFP
                          releasedFlag: true
                empty:
                  summary: 検索結果なし
                  value: []
        '400':
          description: HTTPステータスコードが2xx以外の場合、エラー内容詳細を表す
          headers:
            X-Track:
              description: REST API呼び出しでエラーなどが発生した時に問い合わせするための識別子
              schema:
                type: string
          content:
            application/json:
              schema:
                allOf:
                  - type: object
                    required:
                      - errors
                    properties:
                      errors:
                        type: array
                        minLength: 1
                        description: 1件以上のエラー詳細情報を表す
                        items:
                          type: object
                          description: エラー内容詳細
                          required:
                            - errorCode
                            - errorDescription
                          properties:
                            errorCode:
                              type: string
                            errorDescription:
                              type: string
              examples:
                MSGAECO0001:
                  summary: 必須エラー
                  description: |
                    * {0} : 項目名
                  value:
                    errors:
                      - errorCode: MSGAECO0001
                        errorDescription: '{0}は必須項目です。'
                MSGAECO0025:
                  summary: 認証情報エラー
                  value:
                    errors:
                      - errorCode: MSGAECO0025
                        errorDescription: 認証情報と事業者識別子が一致しません。
        '500':
          description: 想定外のエラー
          headers:
            X-Track:
              description: REST API呼び出しでエラーなどが発生した時に問い合わせするための識別子
              schema:
                type: string
          content:
            application/json:
              schema:
                type: object
                properties:
                  errors:
                    type: array
                    items:
                      type: object
                      description: エラー内容詳細
                      required:
                        - errorCode
                        - errorDescription
                      properties:
                        errorCode:
                          type: string
                        errorDescription:
                          type: string
              examples:
                MSGAECO0013:
                  summary: システムエラー
                  value:
                    errors:
                      - errorCode: MSGAECO0013
                        errorDescription: システムエラーが発生しました。管理者にお問い合わせください。
      security:
        - Authorization: []
        - x-api-key: []
  /cfpCertifications:
    post:
      tags:
        - トレーサビリティ管理システム
      summary: 【CFP証明書登録API】自社の部品に対してCFP証明書情報を登録する
      operationId: registCfpCertification
      description: |
        自社の部品に対してCFP証明書情報を登録する。

        CFP証明書識別子が指定されている場合は、そのCFP証明書情報をリクエストの内容で更新する。

        ファイル登録時にファイル拡張子・MIMEタイプチェックを実施する。

        設定可能な拡張子形式は以下の通り。

        txt, csv, pdf, doc, docx, odt, ppt, pptx, odp, xls, xlsx, ods, csv, jpeg, jpg, bmp, gif, png, zip

        ※識別子の発行は同期処理のため即時発行となりますが、データ登録自体は非同期処理となるため、即時登録ではありません。
      requestBody:
        description: 登録するCFP証明書情報
        required: true
        content:
          multipart/form-data:
            schema:
              type: object
              required:
                - operatorId
                - traceId
                - cfpCertificationFiles
              properties:
                operatorId:
                  type: string
                  description: 実行者の事業者識別子（内部）
                  example: b1234567-1234-1234-1234-123456789012
                  maxLength: 36
                  format: uuid
                cfpCertificationId:
                  description: CFP証明書識別子
                  type: string
                  example: 7e785ae2-e628-42dc-90af-96f91958edc7
                  format: uuid
                  maxLength: 36
                traceId:
                  description: トレース識別子
                  type: string
                  example: 2680ed32-19a3-435b-a094-23ff43aaa611
                  format: uuid
                  maxLength: 36
                cfpCertificationDescription:
                  description: CFP証明書説明
                  type: string
                  example: CFP証明書説明サンプル。
                  maxLength: 100
                cfpCertificationFiles:
                  description: |
                    CFP証明書ファイルリスト

                    CFP証明書ファイルを設定する

                    最大10件まで登録可能
                  type: array
                  minItems: 1
                  maxItems: 10
                  items:
                    type: string
                    format: binary
      responses:
        '200':
          description: 登録したCFP証明書のCFP証明書識別子及びトレース識別子
          headers:
            X-Track:
              description: REST API呼び出しでエラーなどが発生した時に問い合わせするための識別子
              schema:
                type: string
          content:
            application/json:
              schema:
                type: object
                properties:
                  cfpCertificationId:
                    description: CFP証明書識別子
                    type: string
                    example: 7e785ae2-e628-42dc-90af-96f91958edc7
                    format: uuid
                    maxLength: 36
                  traceId:
                    description: トレース識別子
                    type: string
                    example: 2680ed32-19a3-435b-a094-23ff43aaa611
                    format: uuid
                    maxLength: 36
                  cfpCertificationFileInfo:
                    type: array
                    maxItems: 10
                    items:
                      type: object
                      properties:
                        operatorId:
                          type: string
                          description: 事業者識別子（内部）
                          example: a1234567-1234-1234-1234-123456789012
                          maxLength: 36
                          format: uuid
                        fileId:
                          type: string
                          example: 5c07e3e9-c0e5-4a1f-b6a5-78145f7d1855
                          minLength: 36
                          maxLength: 36
                          format: uuid
                          description: ファイル識別子
                        fileName:
                          type: string
                          example: filename.pdf
                          description: ファイル名称
        '400':
          description: HTTPステータスコードが2xx以外の場合、エラー内容詳細を表す
          headers:
            X-Track:
              description: REST API呼び出しでエラーなどが発生した時に問い合わせするための識別子
              schema:
                type: string
          content:
            application/json:
              schema:
                allOf:
                  - type: object
                    required:
                      - errors
                    properties:
                      errors:
                        type: array
                        minLength: 1
                        description: 1件以上のエラー詳細情報を表す
                        items:
                          type: object
                          description: エラー内容詳細
                          required:
                            - errorCode
                            - errorDescription
                          properties:
                            errorCode:
                              type: string
                            errorDescription:
                              type: string
              examples:
                MSGAECO0001:
                  summary: 必須エラー
                  description: |
                    * {0} : 項目名
                  value:
                    errors:
                      - errorCode: MSGAECO0001
                        errorDescription: '{0}は必須項目です。'
                MSGAECO0002:
                  summary: 文字数超過エラー
                  description: |
                    * {0} : 項目名
                    * {1} : 最大文字数
                  value:
                    errors:
                      - errorCode: MSGAECO0002
                        errorDescription: '{0}は{1}文字以内で送信してください。'
                MSGAECO0008:
                  summary: 添付ファイル下限エラー
                  description: |
                    * {0} : 項目名
                    * {1} : 最小数
                  value:
                    errors:
                      - errorCode: MSGAECO0008
                        errorDescription: '{0}は{1}個以上添付してください。'
                MSGAECO0009:
                  summary: 添付ファイル上限エラー
                  description: |
                    * {0} : 項目名
                    * {1} : 最大数
                  value:
                    errors:
                      - errorCode: MSGAECO0009
                        errorDescription: '{0}は最大{1}個まで添付できます。'
                MSGAECI0005:
                  summary: トレース識別子存在チェックエラー
                  value:
                    errors:
                      - errorCode: MSGAECI0005
                        errorDescription: リクエストパラメータのトレース識別子に、存在しない部品が含まれています。
                MSGAECI0019:
                  summary: 存在チェックエラー
                  value:
                    errors:
                      - errorCode: MSGAECI0019
                        errorDescription: 更新対象のCFP証明書が存在しません。
                MSGAECO0025:
                  summary: 認証情報エラー
                  value:
                    errors:
                      - errorCode: MSGAECO0025
                        errorDescription: 認証情報と事業者識別子が一致しません。
                MSGAECI0030:
                  summary: ファイル拡張子・MIMEタイプチェックエラー
                  value:
                    errors:
                      - errorCode: MSGAECI0030
                        errorDescription: 登録できない形式のファイルが存在します。
                MSGAECO0034:
                  summary: ファイル削除エラー
                  value:
                    errors:
                      - errorCode: MSGAECO0034
                        errorDescription: ファイル削除に失敗しました。
                MSGAECO0033:
                  summary: ファイルアップロードエラー
                  value:
                    errors:
                      - errorCode: MSGAECO0033
                        errorDescription: ファイルアップロードに失敗しました。
        '500':
          description: 想定外のエラー
          headers:
            X-Track:
              description: REST API呼び出しでエラーなどが発生した時に問い合わせするための識別子
              schema:
                type: string
          content:
            application/json:
              schema:
                type: object
                properties:
                  errors:
                    type: array
                    items:
                      type: object
                      description: エラー内容詳細
                      required:
                        - errorCode
                        - errorDescription
                      properties:
                        errorCode:
                          type: string
                        errorDescription:
                          type: string
              examples:
                MSGAECO0013:
                  summary: システムエラー
                  value:
                    errors:
                      - errorCode: MSGAECO0013
                        errorDescription: システムエラーが発生しました。管理者にお問い合わせください。
      security:
        - Authorization: []
        - x-api-key: []
  /cfpCertificationAcl:
    post:
      tags:
        - トレーサビリティ管理システム
      summary: 【CFP証明書情報開示設定登録API】自社のCFP証明書情報に対して、事業者別に開示設定を登録または更新する。
      operationId: registCfpCertificationAcl
      description: |
        [詳細説明]

        自社のCFP証明書情報に対して、事業者別に開示設定を登録または更新する。

        ※識別子の発行は同期処理のため即時発行となりますが、データ登録自体は非同期処理となるため、即時登録ではありません。
      requestBody:
        description: 実行者の事業者識別子（内部）と登録するCFP証明書情報開示設定
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - operatorId
                - releasedToOperatorId
                - traceId
                - releasedFlag
              properties:
                operatorId:
                  type: string
                  description: 実行者の事業者識別子（内部）
                  example: b1234567-1234-1234-1234-123456789012
                  maxLength: 36
                  format: uuid
                releasedToOperatorId:
                  description: 開示先事業者識別子（内部）
                  type: string
                  example: a1234567-1234-1234-1234-123456789012
                  maxLength: 36
                traceId:
                  description: トレース識別子
                  type: string
                  example: 2680ed32-19a3-435b-a094-23ff43aaa611
                  format: uuid
                  maxLength: 36
                releasedFlag:
                  type: boolean
                  description: |
                    開示フラグ
                    * true : 開示状態
                    * false: 非開示状態
      responses:
        '200':
          description: 登録・更新したCFP証明書情報開示設定に紐づくトレース識別子
          headers:
            X-Track:
              description: REST API呼び出しでエラーなどが発生した時に問い合わせするための識別子
              schema:
                type: string
          content:
            application/json:
              schema:
                type: object
                properties:
                  traceId:
                    description: トレース識別子
                    type: string
                    example: 2680ed32-19a3-435b-a094-23ff43aaa611
                    format: uuid
                    maxLength: 36
        '400':
          description: HTTPステータスコードが2xx以外の場合、エラー内容詳細を表す
          headers:
            X-Track:
              description: REST API呼び出しでエラーなどが発生した時に問い合わせするための識別子
              schema:
                type: string
          content:
            application/json:
              schema:
                allOf:
                  - type: object
                    required:
                      - errors
                    properties:
                      errors:
                        type: array
                        minLength: 1
                        description: 1件以上のエラー詳細情報を表す
                        items:
                          type: object
                          description: エラー内容詳細
                          required:
                            - errorCode
                            - errorDescription
                          properties:
                            errorCode:
                              type: string
                            errorDescription:
                              type: string
              examples:
                MSGAECO0001:
                  summary: 必須エラー
                  description: |
                    * {0} : 項目名
                  value:
                    errors:
                      - errorCode: MSGAECO0001
                        errorDescription: '{0}は必須項目です。'
                MSGAECO0002:
                  summary: 文字数超過エラー
                  description: |
                    * {0} : 項目名
                    * {1} : 最大文字数
                  value:
                    errors:
                      - errorCode: MSGAECO0002
                        errorDescription: '{0}は{1}文字以内で送信してください。'
                MSGAECO0003:
                  summary: 形式エラー
                  description: |
                    * {0} : 項目名
                    * {1} : 形式
                  value:
                    errors:
                      - errorCode: MSGAECO0003
                        errorDescription: '{0}は{1}で入力してください。'
                MSGAECI0004:
                  summary: 事業者存在チェックエラー
                  value:
                    errors:
                      - errorCode: MSGAECI0004
                        errorDescription: リクエストパラメータの事業者識別子に、存在しない事業者が含まれています。
                MSGAECI0005:
                  summary: トレース識別子存在チェックエラー
                  value:
                    errors:
                      - errorCode: MSGAECI0005
                        errorDescription: リクエストパラメータのトレース識別子に、存在しない部品が含まれています。
                MSGAECI0025:
                  summary: 存在チェックエラー
                  value:
                    errors:
                      - errorCode: MSGAECI0025
                        errorDescription: リクエストパラメータの納品先事業者識別子、仕入先事業者識別子、仕入先トレース識別子に、存在しない取引関係があります。
                MSGAECO0025:
                  summary: 認証情報エラー
                  value:
                    errors:
                      - errorCode: MSGAECO0025
                        errorDescription: 認証情報と事業者識別子が一致しません。
        '500':
          description: 想定外のエラー
          headers:
            X-Track:
              description: REST API呼び出しでエラーなどが発生した時に問い合わせするための識別子
              schema:
                type: string
          content:
            application/json:
              schema:
                type: object
                properties:
                  errors:
                    type: array
                    items:
                      type: object
                      description: エラー内容詳細
                      required:
                        - errorCode
                        - errorDescription
                      properties:
                        errorCode:
                          type: string
                        errorDescription:
                          type: string
              examples:
                MSGAECO0013:
                  summary: システムエラー
                  value:
                    errors:
                      - errorCode: MSGAECO0013
                        errorDescription: システムエラーが発生しました。管理者にお問い合わせください。
      security:
        - Authorization: []
        - x-api-key: []
    get:
      tags:
        - トレーサビリティ管理システム
      summary: 【CFP証明書情報開示設定取得API】入力情報で指定した条件に該当する自社部品のCFP証明書情報の開示設定を検索する。
      operationId: getCfpCertificationAcl
      description: |
        [Queryパラメータの指定]

        operatorId: (uuid) traceId: (uuid)

        [詳細説明]

        入力情報で指定した条件に該当する自社部品のCFP証明書情報の開示設定を検索する。

        検索結果のCFP証明書情報開示設定リストは開示先事業者識別子（内部）の昇順で応答する。
        検索条件を満たすCFP証明書情報開示設定が0件の場合は、空のCFP証明書情報開示設定リストを正常応答する。
      parameters:
        - name: operatorId
          in: query
          description: 実行者の事業者識別子（内部）
          required: true
          schema:
            type: string
            format: uuid
            example: b1234567-1234-1234-1234-123456789012
        - name: traceId
          in: query
          description: 検索対象のトレース識別子
          required: true
          schema:
            type: string
            example: 2680ed32-19a3-435b-a094-23ff43aaa611
      responses:
        '200':
          description: CFP証明書情報の開示設定リスト
          headers:
            X-Track:
              description: REST API呼び出しでエラーなどが発生した時に問い合わせするための識別子
              schema:
                type: string
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
                  properties:
                    releasedFromOperatorId:
                      description: 開示元事業者識別子（内部）
                      type: string
                      example: b1234567-1234-1234-1234-123456789012
                      maxLength: 36
                    releasedToOperatorId:
                      description: 開示先事業者識別子（内部）
                      type: string
                      example: a1234567-1234-1234-1234-123456789012
                      maxLength: 36
                    traceId:
                      description: トレース識別子
                      type: string
                      example: 2680ed32-19a3-435b-a094-23ff43aaa611
                      format: uuid
                      maxLength: 36
                    releasedFlag:
                      type: boolean
                      description: |
                        開示フラグ
                        * true : 開示状態
                        * false: 非開示状態
              examples:
                full:
                  summary: 全項目応答
                  value:
                    - releasedFromOperatorId: b1234567-1234-1234-1234-123456789012
                      releasedToOperatorId: a1234567-1234-1234-1234-123456789012
                      traceId: 2680ed32-19a3-435b-a094-23ff43aaa611
                      releasedFlag: true
                empty:
                  summary: 検索結果なし
                  value: []
        '400':
          description: HTTPステータスコードが2xx以外の場合、エラー内容詳細を表す
          headers:
            X-Track:
              description: REST API呼び出しでエラーなどが発生した時に問い合わせするための識別子
              schema:
                type: string
          content:
            application/json:
              schema:
                allOf:
                  - type: object
                    required:
                      - errors
                    properties:
                      errors:
                        type: array
                        minLength: 1
                        description: 1件以上のエラー詳細情報を表す
                        items:
                          type: object
                          description: エラー内容詳細
                          required:
                            - errorCode
                            - errorDescription
                          properties:
                            errorCode:
                              type: string
                            errorDescription:
                              type: string
              examples:
                MSGAECO0001:
                  summary: 必須エラー
                  description: |
                    * {0} : 項目名
                  value:
                    errors:
                      - errorCode: MSGAECO0001
                        errorDescription: '{0}は必須項目です。'
                MSGAECO0025:
                  summary: 認証情報エラー
                  value:
                    errors:
                      - errorCode: MSGAECO0025
                        errorDescription: 認証情報と事業者識別子が一致しません。
        '500':
          description: 想定外のエラー
          headers:
            X-Track:
              description: REST API呼び出しでエラーなどが発生した時に問い合わせするための識別子
              schema:
                type: string
          content:
            application/json:
              schema:
                type: object
                properties:
                  errors:
                    type: array
                    items:
                      type: object
                      description: エラー内容詳細
                      required:
                        - errorCode
                        - errorDescription
                      properties:
                        errorCode:
                          type: string
                        errorDescription:
                          type: string
              examples:
                MSGAECO0013:
                  summary: システムエラー
                  value:
                    errors:
                      - errorCode: MSGAECO0013
                        errorDescription: システムエラーが発生しました。管理者にお問い合わせください。
      security:
        - Authorization: []
        - x-api-key: []
  /notifications:
    get:
      tags:
        - トレーサビリティ管理システム
      summary: 【通知情報検索API】自社に届いている通知情報を取得する。
      operationId: findNotifications
      description: |
        [Queryパラメータの指定]

        operatorId: (uuid) notifiedAtFrom: (date) notifiedAtTo: (date) after: (uuid)

        [詳細説明]

        入力情報で指定した条件に該当する通知情報を検索する。
        未設定のリクエストパラメータは検索条件に使用しない。

        通知情報リストは通知日時の降順で応答する。
        検索条件を満たす通知情報が0件の場合は、空の通知情報リストを正常応答する。

        ・要素の説明

        notificationType:通知種別を識別

        REQUEST_NEW → 依頼登録

        REQUEST_CANCELED → 依頼取消

        REQUEST_REJECTED → 依頼差戻

        CFP_RESPONSED → CFP/DQR回答

        CFP_UPDATED → CFP/DQR回答変更
      parameters:
        - name: operatorId
          in: query
          description: 実行者の事業者識別子（内部）
          required: true
          schema:
            type: string
            format: uuid
            example: b1234567-1234-1234-1234-123456789012
        - name: notifiedAtFrom
          in: query
          description: 検索対象とする通知日時の開始日
          schema:
            type: string
            example: '2024-02-16'
            format: date
        - name: notifiedAtTo
          in: query
          description: 検索対象とする通知日時の終了日
          schema:
            type: string
            example: '2024-03-31'
            format: date
        - name: after
          in: query
          description: |
            データ取得開始位置の識別子を設定する

            本項目はレスポンスの `next` 項目で返却された値をそのまま設定する
          required: false
          schema:
            type: string
      responses:
        '200':
          description: 通知情報リスト
          headers:
            X-Track:
              description: REST API呼び出しでエラーなどが発生した時に問い合わせするための識別子
              schema:
                type: string
          content:
            application/json:
              schema:
                type: object
                properties:
                  notifications:
                    type: array
                    items:
                      type: object
                      properties:
                        notificationId:
                          description: 通知識別子
                          type: string
                          example: 0c3e56cd-eaf6-4b53-8561-4d9c02038e25
                          format: uuid
                        notificationType:
                          type: string
                          example: REQUEST_NEW
                          description: |
                            通知種別コード
                            * REQUEST_NEW - 依頼登録
                            * REQUEST_CANCELED - 依頼取消
                            * REQUEST_REJECTED - 依頼差戻
                            * CFP_RESPONSED - CFP/DQR回答
                            * CFP_UPDATED - CFP/DQR回答変更
                          enum:
                            - REQUEST_NEW
                            - REQUEST_CANCELED
                            - REQUEST_REJECTED
                            - CFP_RESPONSED
                            - CFP_UPDATED
                        notifiedFromOperatorId:
                          description: 通知元事業者識別子（内部）
                          type: string
                          example: dc04b0ba-39c5-46b7-8bec-ef8ae420195d
                          format: uuid
                        tradeRelation:
                          type: object
                          description: 通知取引関係情報
                          properties:
                            tradeId:
                              type: string
                              description: 取引関係識別子
                              example: a84012cc-73fb-4f9b-9130-59ae546f7092
                              maxLength: 36
                              format: uuid
                            requestId:
                              type: string
                              description: 依頼識別子
                              maxLength: 36
                              format: uuid
                              example: c5280b5b-55b8-4ce0-a68e-6d8d5e2523cd
                            downstreamOperatorId:
                              type: string
                              description: 納品先事業者識別子（内部）
                              example: a1234567-1234-1234-1234-123456789012
                              maxLength: 36
                              format: uuid
                            upstreamOperatorId:
                              type: string
                              description: 仕入先事業者識別子（内部）
                              example: b1234567-1234-1234-1234-123456789012
                              maxLength: 36
                              format: uuid
                            downstreamTraceId:
                              type: string
                              description: 納品先トレース識別子
                              example: 7f95106f-d16f-4284-bdc4-c0f061135440
                              maxLength: 36
                              format: uuid
                            upstreamTraceId:
                              type: string
                              description: 仕入先トレース識別子
                              maxLength: 36
                              format: uuid
                              example: fddd1a04-b217-4413-af36-6f425d219226
                        notifiedAt:
                          type: string
                          description: 通知日時
                          format: date-time
                          example: '2024-12-31T12:34:56Z'
                  next:
                    type: string
                    description: |
                      次データがある場合に取得開始位置の識別子を設定する

                      次データを取得する際は、本項目をリクエストの `after` へ設定する
              examples:
                request:
                  summary: 「依頼登録」通知
                  value:
                    notifications:
                      - notificationId: 1a0a51e8-d769-4b09-b75c-b97bd5dc5ab8
                        notificationType: REQUEST_NEW
                        notifiedFromOperatorId: f67ca28e-c844-401a-ba1d-7ad5b9bf131d
                        tradeRelation:
                          tradeId: a84012cc-73fb-4f9b-9130-59ae546f7092
                          requestId: 5185a435-c039-4196-bb34-0ee0c2395478
                          downstreamOperatorId: a1234567-1234-1234-1234-123456789012
                          upstreamOperatorId: b1234567-1234-1234-1234-123456789012
                          downstreamTraceId: 38bdd8a5-76a7-a53d-de12-725707b04a1b
                          upstreamTraceId: null
                        notifiedAt: '2024-12-31T12:34:56Z'
                    next: 639407ed-ba4d-47b4-b859-834848736716
                cancelRequest:
                  summary: 「依頼取消」通知
                  value:
                    notifications:
                      - notificationId: 1a0a51e8-d769-4b09-b75c-b97bd5dc5ab8
                        notificationType: REQUEST_CANCELED
                        notifiedFromOperatorId: f67ca28e-c844-401a-ba1d-7ad5b9bf131d
                        tradeRelation:
                          tradeId: a84012cc-73fb-4f9b-9130-59ae546f7092
                          requestId: 5185a435-c039-4196-bb34-0ee0c2395478
                          downstreamOperatorId: a1234567-1234-1234-1234-123456789012
                          upstreamOperatorId: b1234567-1234-1234-1234-123456789012
                          downstreamTraceId: 38bdd8a5-76a7-a53d-de12-725707b04a1b
                          upstreamTraceId: null
                        notifiedAt: '2024-12-31T12:34:56Z'
                    next: 639407ed-ba4d-47b4-b859-834848736716
                rejectRequest:
                  summary: 「依頼差戻」通知
                  value:
                    notifications:
                      - notificationId: 1a0a51e8-d769-4b09-b75c-b97bd5dc5ab8
                        notificationType: REQUEST_REJECTED
                        notifiedFromOperatorId: f67ca28e-c844-401a-ba1d-7ad5b9bf131d
                        tradeRelation:
                          tradeId: a84012cc-73fb-4f9b-9130-59ae546f7092
                          requestId: 5185a435-c039-4196-bb34-0ee0c2395478
                          downstreamOperatorId: a1234567-1234-1234-1234-123456789012
                          upstreamOperatorId: b1234567-1234-1234-1234-123456789012
                          downstreamTraceId: 38bdd8a5-76a7-a53d-de12-725707b04a1b
                          upstreamTraceId: null
                        notifiedAt: '2024-12-31T12:34:56Z'
                    next: 639407ed-ba4d-47b4-b859-834848736716
                responseCfp:
                  summary: 「CFP/DQR回答」通知
                  value:
                    notifications:
                      - notificationId: 1a0a51e8-d769-4b09-b75c-b97bd5dc5ab8
                        notificationType: CFP_RESPONSED
                        notifiedFromOperatorId: f67ca28e-c844-401a-ba1d-7ad5b9bf131d
                        tradeRelation:
                          tradeId: a84012cc-73fb-4f9b-9130-59ae546f7092
                          requestId: 5185a435-c039-4196-bb34-0ee0c2395478
                          downstreamOperatorId: a1234567-1234-1234-1234-123456789012
                          upstreamOperatorId: b1234567-1234-1234-1234-123456789012
                          downstreamTraceId: 38bdd8a5-76a7-a53d-de12-725707b04a1b
                          upstreamTraceId: 6b622084-ae59-ad4e-e24b-9b56f251eed3
                        notifiedAt: '2024-12-31T12:34:56Z'
                    next: 639407ed-ba4d-47b4-b859-834848736716
                updateCfp:
                  summary: 「CFP/DQR回答変更」通知
                  value:
                    notifications:
                      - notificationId: 1a0a51e8-d769-4b09-b75c-b97bd5dc5ab8
                        notificationType: CFP_UPDATED
                        notifiedFromOperatorId: f67ca28e-c844-401a-ba1d-7ad5b9bf131d
                        tradeRelation:
                          tradeId: a84012cc-73fb-4f9b-9130-59ae546f7092
                          requestId: 5185a435-c039-4196-bb34-0ee0c2395478
                          downstreamOperatorId: a1234567-1234-1234-1234-123456789012
                          upstreamOperatorId: b1234567-1234-1234-1234-123456789012
                          downstreamTraceId: 38bdd8a5-76a7-a53d-de12-725707b04a1b
                          upstreamTraceId: 6b622084-ae59-ad4e-e24b-9b56f251eed3
                        notifiedAt: '2024-12-31T12:34:56Z'
                    next: 639407ed-ba4d-47b4-b859-834848736716
                empty:
                  summary: 検索結果なし
                  value:
                    notifications: []
                    next: null
        '400':
          description: HTTPステータスコードが2xx以外の場合、エラー内容詳細を表す
          headers:
            X-Track:
              description: REST API呼び出しでエラーなどが発生した時に問い合わせするための識別子
              schema:
                type: string
          content:
            application/json:
              schema:
                allOf:
                  - type: object
                    required:
                      - errors
                    properties:
                      errors:
                        type: array
                        minLength: 1
                        description: 1件以上のエラー詳細情報を表す
                        items:
                          type: object
                          description: エラー内容詳細
                          required:
                            - errorCode
                            - errorDescription
                          properties:
                            errorCode:
                              type: string
                            errorDescription:
                              type: string
              examples:
                MSGAECO0001:
                  summary: 必須エラー
                  description: |
                    * {0} : 項目名
                  value:
                    errors:
                      - errorCode: MSGAECO0001
                        errorDescription: '{0}は必須項目です。'
                MSGAECO0020:
                  summary: ページングエラー
                  value:
                    errors:
                      - errorCode: MSGAECO0020
                        errorDescription: 指定した識別子は存在しません。
                MSGAECO0025:
                  summary: 認証情報エラー
                  value:
                    errors:
                      - errorCode: MSGAECO0025
                        errorDescription: 認証情報と事業者識別子が一致しません。
        '500':
          description: 想定外のエラー
          headers:
            X-Track:
              description: REST API呼び出しでエラーなどが発生した時に問い合わせするための識別子
              schema:
                type: string
          content:
            application/json:
              schema:
                type: object
                properties:
                  errors:
                    type: array
                    items:
                      type: object
                      description: エラー内容詳細
                      required:
                        - errorCode
                        - errorDescription
                      properties:
                        errorCode:
                          type: string
                        errorDescription:
                          type: string
              examples:
                MSGAECO0013:
                  summary: システムエラー
                  value:
                    errors:
                      - errorCode: MSGAECO0013
                        errorDescription: システムエラーが発生しました。管理者にお問い合わせください。
      security:
        - Authorization: []
        - x-api-key: []
  /cfpCertificationFiles:
    get:
      tags:
        - トレーサビリティ管理システム
      summary: 【CFP証明書ファイルダウンロードAPI】CFP証明書ファイルのファイル情報（事業者識別子（内部）、ファイル識別子）をもとに、対象のファイルをダウンロードする。
      operationId: downloadCfpCertificationFile
      description: |
        CFP証明書ファイルのファイル情報（事業者識別子（内部）、ファイル識別子）をもとに、対象のファイルをダウンロードする。

        ファイルはBase64方式で変換されたバイナリデータとして返却される。

        ※値の前後に「"」は付加しません。

        エンコードにはJavaのBase64クラスのgetUrlEncoderメソッドを使用しています。

        デコードにはBase64クラスのgetUrlDecoderメソッドを推奨します。

      parameters:
        - name: operatorId
          in: query
          description: 実行者の事業者識別子（内部）
          required: true
          schema:
            type: string
            format: uuid
            example: b1234567-1234-1234-1234-123456789012
        - name: fileOperatorId
          in: query
          required: true
          description: ファイル事業者識別子（内部）
          schema:
            example: b1234567-1234-1234-1234-123456789012
            type: string
            format: uuid
        - name: fileId
          in: query
          required: true
          example: 4e9380a9-0b74-43a7-b60d-9d28731ef984
          description: ファイル識別子
          schema:
            type: string
            format: uuid
        - name: downloadType
          in: query
          required: true
          example: OWN
          description: ダウンロード情報種別
          schema:
            type: string
            example: OWN
            description: |
              ダウンロード情報種別
              * OWN - 自社情報
              * OTHER - 他社開示情報
            enum:
              - OWN
              - OTHER
        - name: cfpCertificationId
          in: query
          description: CFP証明書識別子(自社) or 取引関係識別子(他社)
          required: true
          schema:
            type: string
            example: 5a7ad287-2f95-43c9-8185-3f1df884a4ac
            format: uuid
      responses:
        '200':
          description: Base64方式で変換されたバイナリデータ ※値の前後に「"」は付加しません
          headers:
            X-Track:
              description: REST API呼び出しでエラーなどが発生した時に問い合わせするための識別子
              schema:
                type: string
          content:
            application/json:
              schema:
                type: string
                format: base64
                example: JVBERi0xLjYNJeLjz9i9XWzEgMyAxDExNg0KJSVFT0YNCg==（一部抜粋）
        '400':
          description: HTTPステータスコードが2xx以外の場合、エラー内容詳細を表す
          headers:
            X-Track:
              description: REST API呼び出しでエラーなどが発生した時に問い合わせするための識別子
              schema:
                type: string
          content:
            application/json:
              schema:
                allOf:
                  - type: object
                    required:
                      - errors
                    properties:
                      errors:
                        type: array
                        minLength: 1
                        description: 1件以上のエラー詳細情報を表す
                        items:
                          type: object
                          description: エラー内容詳細
                          required:
                            - errorCode
                            - errorDescription
                          properties:
                            errorCode:
                              type: string
                            errorDescription:
                              type: string
              examples:
                MSGAECO0001:
                  summary: 必須エラー
                  description: |
                    * {0} : 項目名
                  value:
                    errors:
                      - errorCode: MSGAECO0001
                        errorDescription: '{0}は必須項目です。'
                MSGAECO0005:
                  summary: 形式エラー
                  description: |
                    * {0} : 項目名
                    * {1} : 値1
                    * {2} : 値2
                  value:
                    errors:
                      - errorCode: MSGAECO0005
                        errorDescription: '{0}は不正です。{1}または{2}を指定してください。'
                MSGAECO0006:
                  summary: ファイル存在チェックエラー
                  value:
                    errors:
                      - errorCode: MSGAECO0006
                        errorDescription: 指定したファイル情報は存在しません。
                MSGAECO0007:
                  summary: ファイル存在チェックエラー
                  value:
                    errors:
                      - errorCode: MSGAECO0007
                        errorDescription: 指定したファイルは存在しないため、ダウンロードに失敗しました。
                MSGAECO0025:
                  summary: 認証情報エラー
                  value:
                    errors:
                      - errorCode: MSGAECO0025
                        errorDescription: 認証情報と事業者識別子が一致しません。
                MSGAECO0035:
                  summary: ファイルダウンロードエラー
                  value:
                    errors:
                      - errorCode: MSGAECO0035
                        errorDescription: ファイルダウンロードに失敗しました。
        '500':
          description: 想定外のエラー
          headers:
            X-Track:
              description: REST API呼び出しでエラーなどが発生した時に問い合わせするための識別子
              schema:
                type: string
          content:
            application/json:
              schema:
                type: object
                properties:
                  errors:
                    type: array
                    items:
                      type: object
                      description: エラー内容詳細
                      required:
                        - errorCode
                        - errorDescription
                      properties:
                        errorCode:
                          type: string
                        errorDescription:
                          type: string
              examples:
                MSGAECO0013:
                  summary: システムエラー
                  value:
                    errors:
                      - errorCode: MSGAECO0013
                        errorDescription: システムエラーが発生しました。管理者にお問い合わせください。
      security:
        - Authorization: []
        - x-api-key: []
components:
  parameters:
    traceId:
      name: traceId
      in: query
      description: 検索対象のトレース識別子
      required: false
      schema:
        type: string
        format: uuid
        example: 2680ed32-19a3-435b-a094-23ff43aaa611
    traceIdRequired:
      name: traceId
      in: query
      description: 検索対象のトレース識別子
      required: true
      schema:
        type: string
        example: 2680ed32-19a3-435b-a094-23ff43aaa611
    traceIdList:
      name: traceId
      in: query
      description: |
        検索対象のトレース識別子（複数件設定可能。最大50件）

        各要素は `,` で区切って設定する
      required: false
      explode: false
      schema:
        type: array
        maxItems: 50
        items:
          type: string
          example: 2680ed32-19a3-435b-a094-23ff43aaa611
          format: uuid
          description: トレース識別子
    traceIdListRequired:
      name: traceId
      in: query
      description: |
        検索対象のトレース識別子（複数件設定可能。最小1件、最大50件）

        各要素は `,` で区切って設定する
      required: true
      explode: false
      schema:
        type: array
        minItems: 1
        maxItems: 50
        items:
          type: string
          example: 2680ed32-19a3-435b-a094-23ff43aaa611
          format: uuid
          description: トレース識別子
    cfpCertificationId:
      name: cfpCertificationId
      in: query
      description: 検索対象のCFP証明書識別子
      required: false
      schema:
        type: string
        example: 5a7ad287-2f95-43c9-8185-3f1df884a4ac
        format: uuid
    cfpCertificationIdRequired:
      name: cfpCertificationId
      in: query
      description: CFP証明書識別子(自社) or 取引関係識別子(他社)
      required: true
      schema:
        type: string
        example: 5a7ad287-2f95-43c9-8185-3f1df884a4ac
        format: uuid
    partsItem:
      name: partsItem
      in: query
      description: 検索対象の部品項目
      required: false
      schema:
        type: string
        example: A01
    supportPartsItem:
      name: supportPartsItem
      in: query
      description: 検索対象の補助項目
      required: false
      schema:
        type: string
        example: B0100
    plantId:
      name: plantId
      in: query
      description: 検索対象の事業所識別子（内部）
      required: false
      schema:
        type: string
        format: uuid
        example: bsite123-1234-1234-1234-123456789012
    after:
      name: after
      in: query
      description: |
        データ取得開始位置の識別子を設定する

        本項目はレスポンスの `next` 項目で返却された値をそのまま設定する
      required: false
      schema:
        type: string
    myOperatorId:
      name: operatorId
      in: query
      description: 実行者の事業者識別子（内部）
      required: true
      schema:
        type: string
        format: uuid
        example: b1234567-1234-1234-1234-123456789012
    operatorIdRequired:
      name: operatorId
      in: query
      description: 検索対象の事業者識別子（内部）
      required: true
      schema:
        type: string
        format: uuid
        example: B01234567890123456789
    targetOperatorId:
      name: targetOperatorId
      in: query
      description: 取得対象の事業者識別子（内部）
      required: false
      schema:
        type: string
        format: uuid
        example: B01234567890123456789
    requestId:
      name: requestId
      in: query
      description: 検索対象の依頼識別子
      schema:
        type: string
        format: uuid
        example: c5280b5b-55b8-4ce0-a68e-6d8d5e2523cd
    requestedDateFrom:
      name: requestedDateFrom
      in: query
      description: |
        検索対象とする依頼日時の開始日（指定日を含む）

        UTC日時の日付を入力する
      schema:
        type: string
        example: '2024-01-31'
        format: date
    requestedDateTo:
      name: requestedDateTo
      in: query
      description: |
        検索対象とする依頼日時の終了日（指定日を含む）

        UTC日時の日付を入力する
      schema:
        type: string
        example: '2024-01-31'
        format: date
    parentFlag:
      name: parentFlag
      in: query
      description: 検索対象の親部品フラグ
      required: false
      example: false
      schema:
        type: boolean
        description: |
          親部品フラグ
          * true : 親部品
          * false: 親部品ではない
    parentTraceId:
      name: parentTraceId
      in: query
      description: 検索対象の親部品トレース識別子
      required: false
      schema:
        type: string
        example: 2680ed32-19a3-435b-a094-23ff43aaa611
    parentTraceIdRequired:
      name: parentTraceId
      in: query
      description: 検索対象の親部品トレース識別子
      required: true
      schema:
        type: string
        example: 2680ed32-19a3-435b-a094-23ff43aaa611
        format: uuid
        maxLength: 36
    downstreamOperatorId:
      name: downstreamOperatorId
      in: query
      description: 納品先事業者識別子（内部）
      required: true
      schema:
        type: string
        example: a1234567-1234-1234-1234-123456789012
    downstreamTraceId:
      name: downstreamTraceId
      in: query
      description: 納品先トレース識別子
      required: true
      schema:
        type: string
        example: 94078880-cfc3-43db-931b-841064cf719a
    upstreamOperatorId:
      name: upstreamOperatorId
      in: query
      description: 仕入先事業者識別子（内部）
      required: true
      schema:
        type: string
        example: b1234567-1234-1234-1234-123456789012
    requestType:
      name: requestType
      in: query
      description: 依頼種別コード
      required: true
      example: CFP
      schema:
        type: string
        description: |
          依頼種別コード
          * CFP - CFP登録依頼
        enum:
          - CFP
    cfpId:
      name: cfpId
      in: query
      description: CFP情報識別子
      required: true
      schema:
        type: string
      example: 892262ab-6795-4a97-bf25-d92c512ebb3d
    cfpIdList:
      name: cfpId
      in: query
      description: |
        検索対象のCFP情報識別子（複数設定可能）

        各要素は `,` で区切って設定する
      required: false
      explode: false
      schema:
        type: array
        maxItems: 50
        items:
          type: string
          description: CFP情報識別子
          example: 892262ab-6795-4a97-bf25-d92c512ebb3d
    businessRelationshipOption:
      name: businessRelationshipOption
      in: query
      description: 取引関係情報検索オプション
      required: false
      example: UPSTREAM
      schema:
        type: string
        description: 取引関係情報検索オプション * UPSTREAM - 仕入先事業者情報検索 * DOWNSTREAM - 納品先事業者情報検索
        enum:
          - UPSTREAM
          - DOWNSTREAM
    releasedToOperatorId:
      name: releasedToOperatorId
      in: query
      required: false
      description: 開示先事業者識別子（内部）
      schema:
        type: string
        example: a1234567-1234-1234-1234-123456789012
        format: uuid
    releasedFromOperatorId:
      name: releasedFromOperatorId
      in: query
      required: false
      description: 開示元事業者識別子（内部）
      schema:
        example: b1234567-1234-1234-1234-123456789012
        type: string
        format: uuid
    fileOperatorId:
      name: fileOperatorId
      in: query
      required: true
      description: ファイル事業者識別子（内部）
      schema:
        example: b1234567-1234-1234-1234-123456789012
        type: string
        format: uuid
    downloadType:
      name: downloadType
      in: query
      required: true
      example: OWN
      description: ダウンロード情報種別
      schema:
        type: string
        example: OWN
        description: |
          ダウンロード情報種別
          * OWN - 自社情報
          * OTHER - 他社開示情報
        enum:
          - OWN
          - OTHER
    fileId:
      name: fileId
      in: query
      required: true
      example: 4e9380a9-0b74-43a7-b60d-9d28731ef984
      description: ファイル識別子
      schema:
        type: string
        format: uuid
    notifiedAtFrom:
      name: notifiedAtFrom
      in: query
      description: 検索対象とする通知日時の開始日
      schema:
        type: string
        example: '2024-02-16'
        format: date
    notifiedAtTo:
      name: notifiedAtTo
      in: query
      description: 検索対象とする通知日時の終了日
      schema:
        type: string
        example: '2024-03-31'
        format: date
  schemas:
    CfpCertificationsPostRequest:
      type: object
      required:
        - operatorId
        - traceId
        - cfpCertificationFiles
      properties:
        operatorId:
          type: string
          description: 実行者の事業者識別子（内部）
          example: b1234567-1234-1234-1234-123456789012
          maxLength: 36
          format: uuid
        cfpCertificationId:
          description: CFP証明書識別子
          type: string
          example: 7e785ae2-e628-42dc-90af-96f91958edc7
          format: uuid
          maxLength: 36
        traceId:
          description: トレース識別子
          type: string
          example: 2680ed32-19a3-435b-a094-23ff43aaa611
          format: uuid
          maxLength: 36
        cfpCertificationDescription:
          description: CFP証明書説明
          type: string
          example: CFP証明書説明サンプル。
          maxLength: 100
        cfpCertificationFiles:
          description: |
            CFP証明書ファイルリスト

            CFP証明書ファイルを設定する

            最大10件まで登録可能
          type: array
          minItems: 1
          maxItems: 10
          items:
            type: string
            format: binary
    CfpCertificationsPostResource:
      type: object
      properties:
        cfpCertificationId:
          description: CFP証明書識別子
          type: string
          example: 7e785ae2-e628-42dc-90af-96f91958edc7
          format: uuid
          maxLength: 36
        traceId:
          description: トレース識別子
          type: string
          example: 2680ed32-19a3-435b-a094-23ff43aaa611
          format: uuid
          maxLength: 36
        cfpCertificationFileInfo:
          type: array
          maxItems: 10
          items:
            type: object
            properties:
              operatorId:
                type: string
                description: 事業者識別子（内部）
                example: a1234567-1234-1234-1234-123456789012
                maxLength: 36
                format: uuid
              fileId:
                type: string
                example: 5c07e3e9-c0e5-4a1f-b6a5-78145f7d1855
                minLength: 36
                maxLength: 36
                format: uuid
                description: ファイル識別子
              fileName:
                type: string
                example: filename.pdf
                description: ファイル名称
    CfpCertificationFileInformation:
      type: object
      properties:
        operatorId:
          type: string
          description: 事業者識別子（内部）
          example: a1234567-1234-1234-1234-123456789012
          maxLength: 36
          format: uuid
        fileId:
          type: string
          example: 5c07e3e9-c0e5-4a1f-b6a5-78145f7d1855
          minLength: 36
          maxLength: 36
          format: uuid
          description: ファイル識別子
        fileName:
          type: string
          example: filename.pdf
          description: ファイル名称
    CfpCertificationAclPostRequest:
      type: object
      required:
        - operatorId
        - releasedToOperatorId
        - traceId
        - releasedFlag
      properties:
        operatorId:
          type: string
          description: 実行者の事業者識別子（内部）
          example: b1234567-1234-1234-1234-123456789012
          maxLength: 36
          format: uuid
        releasedToOperatorId:
          description: 開示先事業者識別子（内部）
          type: string
          example: a1234567-1234-1234-1234-123456789012
          maxLength: 36
        traceId:
          description: トレース識別子
          type: string
          example: 2680ed32-19a3-435b-a094-23ff43aaa611
          format: uuid
          maxLength: 36
        releasedFlag:
          type: boolean
          description: |
            開示フラグ
            * true : 開示状態
            * false: 非開示状態
    CfpCertificationAclPostResource:
      type: object
      properties:
        traceId:
          description: トレース識別子
          type: string
          example: 2680ed32-19a3-435b-a094-23ff43aaa611
          format: uuid
          maxLength: 36
    CfpCertificationAclGetResource:
      type: array
      items:
        type: object
        properties:
          releasedFromOperatorId:
            description: 開示元事業者識別子（内部）
            type: string
            example: b1234567-1234-1234-1234-123456789012
            maxLength: 36
          releasedToOperatorId:
            description: 開示先事業者識別子（内部）
            type: string
            example: a1234567-1234-1234-1234-123456789012
            maxLength: 36
          traceId:
            description: トレース識別子
            type: string
            example: 2680ed32-19a3-435b-a094-23ff43aaa611
            format: uuid
            maxLength: 36
          releasedFlag:
            type: boolean
            description: |
              開示フラグ
              * true : 開示状態
              * false: 非開示状態
    CfpAclGetResource:
      type: array
      items:
        type: object
        properties:
          releasedFromOperatorId:
            description: 開示元事業者識別子（内部）
            type: string
            example: b1234567-1234-1234-1234-123456789012
            maxLength: 36
          releasedToOperatorId:
            description: 開示先事業者識別子（内部）
            type: string
            example: a1234567-1234-1234-1234-123456789012
            maxLength: 36
          traceId:
            description: トレース識別子
            type: string
            example: 2680ed32-19a3-435b-a094-23ff43aaa611
            format: uuid
            maxLength: 36
          acl:
            type: array
            items:
              type: object
              properties:
                aclItemGroup:
                  type: string
                  description: |
                    開示項目グループ
                    * TOTALCFP : 合計CFP情報
                    * TOTALDQR : 合計DQR情報
                  example: TOTALCFP
                  enum:
                    - TOTALCFP
                    - TOTALDQR
                releasedFlag:
                  type: boolean
                  description: |
                    開示フラグ
                    * true : 開示状態
                    * false: 非開示状態
    CfpAclPostRequest:
      type: object
      required:
        - operatorId
        - releasedToOperatorId
        - traceId
        - acl
      properties:
        operatorId:
          type: string
          description: 実行者の事業者識別子（内部）
          example: b1234567-1234-1234-1234-123456789012
          maxLength: 36
          format: uuid
        releasedToOperatorId:
          description: 開示先事業者識別子（内部）
          type: string
          example: a1234567-1234-1234-1234-123456789012
          maxLength: 36
        traceId:
          description: トレース識別子
          type: string
          example: 2680ed32-19a3-435b-a094-23ff43aaa611
          format: uuid
          maxLength: 36
        acl:
          type: array
          description: 開示設定リスト
          minItems: 1
          maxItems: 50
          items:
            type: object
            required:
              - aclItemGroup
              - releasedFlag
            properties:
              aclItemGroup:
                type: string
                description: |
                  開示項目グループ
                  * TOTALCFP : 合計CFP情報
                  * TOTALDQR : 合計DQR情報
                example: TOTALCFP
                enum:
                  - TOTALCFP
                  - TOTALDQR
              releasedFlag:
                type: boolean
                description: |
                  開示フラグ
                  * true : 開示状態
                  * false: 非開示状態
    CfpAclPostResource:
      type: object
      properties:
        traceId:
          description: トレース識別子
          type: string
          example: 2680ed32-19a3-435b-a094-23ff43aaa611
          format: uuid
          maxLength: 36
    NotificationGetResource:
      type: object
      properties:
        notifications:
          type: array
          items:
            type: object
            properties:
              notificationId:
                description: 通知識別子
                type: string
                example: 0c3e56cd-eaf6-4b53-8561-4d9c02038e25
                format: uuid
              notificationType:
                type: string
                example: REQUEST_NEW
                description: |
                  通知種別コード
                  * REQUEST_NEW - 依頼登録
                  * REQUEST_CANCELED - 依頼取消
                  * REQUEST_REJECTED - 依頼差戻
                  * CFP_RESPONSED - CFP/DQR回答
                  * CFP_UPDATED - CFP/DQR回答変更
                enum:
                  - REQUEST_NEW
                  - REQUEST_CANCELED
                  - REQUEST_REJECTED
                  - CFP_RESPONSED
                  - CFP_UPDATED
              notifiedFromOperatorId:
                description: 通知元事業者識別子（内部）
                type: string
                example: dc04b0ba-39c5-46b7-8bec-ef8ae420195d
                format: uuid
              tradeRelation:
                type: object
                description: 通知取引関係情報
                properties:
                  tradeId:
                    type: string
                    description: 取引関係識別子
                    example: a84012cc-73fb-4f9b-9130-59ae546f7092
                    maxLength: 36
                    format: uuid
                  requestId:
                    type: string
                    description: 依頼識別子
                    maxLength: 36
                    format: uuid
                    example: c5280b5b-55b8-4ce0-a68e-6d8d5e2523cd
                  downstreamOperatorId:
                    type: string
                    description: 納品先事業者識別子（内部）
                    example: a1234567-1234-1234-1234-123456789012
                    maxLength: 36
                    format: uuid
                  upstreamOperatorId:
                    type: string
                    description: 仕入先事業者識別子（内部）
                    example: b1234567-1234-1234-1234-123456789012
                    maxLength: 36
                    format: uuid
                  downstreamTraceId:
                    type: string
                    description: 納品先トレース識別子
                    example: 7f95106f-d16f-4284-bdc4-c0f061135440
                    maxLength: 36
                    format: uuid
                  upstreamTraceId:
                    type: string
                    description: 仕入先トレース識別子
                    maxLength: 36
                    format: uuid
                    example: fddd1a04-b217-4413-af36-6f425d219226
              notifiedAt:
                type: string
                description: 通知日時
                format: date-time
                example: '2024-12-31T12:34:56Z'
        next:
          type: string
          description: |
            次データがある場合に取得開始位置の識別子を設定する

            次データを取得する際は、本項目をリクエストの `after` へ設定する
    NotificationGetResourceItem:
      type: object
      properties:
        notificationId:
          description: 通知識別子
          type: string
          example: 0c3e56cd-eaf6-4b53-8561-4d9c02038e25
          format: uuid
        notificationType:
          type: string
          example: REQUEST_NEW
          description: |
            通知種別コード
            * REQUEST_NEW - 依頼登録
            * REQUEST_CANCELED - 依頼取消
            * REQUEST_REJECTED - 依頼差戻
            * CFP_RESPONSED - CFP/DQR回答
            * CFP_UPDATED - CFP/DQR回答変更
          enum:
            - REQUEST_NEW
            - REQUEST_CANCELED
            - REQUEST_REJECTED
            - CFP_RESPONSED
            - CFP_UPDATED
        notifiedFromOperatorId:
          description: 通知元事業者識別子（内部）
          type: string
          example: dc04b0ba-39c5-46b7-8bec-ef8ae420195d
          format: uuid
        tradeRelation:
          type: object
          description: 通知取引関係情報
          properties:
            tradeId:
              type: string
              description: 取引関係識別子
              example: a84012cc-73fb-4f9b-9130-59ae546f7092
              maxLength: 36
              format: uuid
            requestId:
              type: string
              description: 依頼識別子
              maxLength: 36
              format: uuid
              example: c5280b5b-55b8-4ce0-a68e-6d8d5e2523cd
            downstreamOperatorId:
              type: string
              description: 納品先事業者識別子（内部）
              example: a1234567-1234-1234-1234-123456789012
              maxLength: 36
              format: uuid
            upstreamOperatorId:
              type: string
              description: 仕入先事業者識別子（内部）
              example: b1234567-1234-1234-1234-123456789012
              maxLength: 36
              format: uuid
            downstreamTraceId:
              type: string
              description: 納品先トレース識別子
              example: 7f95106f-d16f-4284-bdc4-c0f061135440
              maxLength: 36
              format: uuid
            upstreamTraceId:
              type: string
              description: 仕入先トレース識別子
              maxLength: 36
              format: uuid
              example: fddd1a04-b217-4413-af36-6f425d219226
        notifiedAt:
          type: string
          description: 通知日時
          format: date-time
          example: '2024-12-31T12:34:56Z'
    NotificationGetResourceItemTradeRelation:
      type: object
      description: 通知取引関係情報
      properties:
        tradeId:
          type: string
          description: 取引関係識別子
          example: a84012cc-73fb-4f9b-9130-59ae546f7092
          maxLength: 36
          format: uuid
        requestId:
          type: string
          description: 依頼識別子
          maxLength: 36
          format: uuid
          example: c5280b5b-55b8-4ce0-a68e-6d8d5e2523cd
        downstreamOperatorId:
          type: string
          description: 納品先事業者識別子（内部）
          example: a1234567-1234-1234-1234-123456789012
          maxLength: 36
          format: uuid
        upstreamOperatorId:
          type: string
          description: 仕入先事業者識別子（内部）
          example: b1234567-1234-1234-1234-123456789012
          maxLength: 36
          format: uuid
        downstreamTraceId:
          type: string
          description: 納品先トレース識別子
          example: 7f95106f-d16f-4284-bdc4-c0f061135440
          maxLength: 36
          format: uuid
        upstreamTraceId:
          type: string
          description: 仕入先トレース識別子
          maxLength: 36
          format: uuid
          example: fddd1a04-b217-4413-af36-6f425d219226
    Error:
      type: object
      description: エラー内容詳細
      required:
        - errorCode
        - errorDescription
      properties:
        errorCode:
          type: string
        errorDescription:
          type: string
    ValidationError:
      type: object
      required:
        - errors
      properties:
        errors:
          type: array
          minLength: 1
          description: 1件以上のエラー詳細情報を表す
          items:
            type: object
            description: エラー内容詳細
            required:
              - errorCode
              - errorDescription
            properties:
              errorCode:
                type: string
              errorDescription:
                type: string
  responses:
    UnexpectedError:
      description: 想定外のエラー
      headers:
        X-Track:
          description: REST API呼び出しでエラーなどが発生した時に問い合わせするための識別子
          schema:
            type: string
      content:
        application/json:
          schema:
            type: object
            properties:
              errors:
                type: array
                items:
                  type: object
                  description: エラー内容詳細
                  required:
                    - errorCode
                    - errorDescription
                  properties:
                    errorCode:
                      type: string
                    errorDescription:
                      type: string
          examples:
            MSGAECO0013:
              summary: システムエラー
              value:
                errors:
                  - errorCode: MSGAECO0013
                    errorDescription: システムエラーが発生しました。管理者にお問い合わせください。
    NullResponse:
      description: Null response
  securitySchemes:
    x-api-key:
      type: apiKey
      in: header
      name: x-api-key
      description: 本サービスから払い出されたAPIキー
    Authorization:
      type: http
      scheme: bearer
      description: アクセストークン発行APIで発行したアクセストークン
  headers:
    X-Track:
      description: REST API呼び出しでエラーなどが発生した時に問い合わせするための識別子
      schema:
        type: string
